@font-face {
  font-family: 'suit-variable';
  font-weight: 100 900;
  font-style: normal;
  src: url('./assets/fonts/SUIT-Variable.ttf') format('truetype');
}
body {
  font-family: 'suit-variable';
  font-feature-settings: 'tnum';
  /* font-variant-numeric: tabular-nums; */
}
